<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
		  "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>

	<bean id="FaqService" class="rax.service.FaqService">
		<property name="faqDao" ref="FaqDao" />
	</bean>

	<bean id="LinkService" class="rax.service.LinkService">
		<property name="linkDao" ref="LinkDao" />
	</bean>

	<bean id="LinkCategoryService"
		class="rax.service.LinkCategoryService">
		<property name="linkDao" ref="LinkDao" />
		<property name="linkCategoryDao" ref="LinkCategoryDao" />
	</bean>

</beans>