<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
		  "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>

	<bean id="FaqDao" class="rax.dao.ibatis.FaqDaoImpl">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>

	<bean id="LinkDao" class="rax.dao.ibatis.LinkDaoImpl">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>

	<bean id="LinkCategoryDao"
		class="rax.dao.ibatis.LinkCategoryDaoImpl">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>

	<bean id="PictureDao" class="rax.dao.ibatis.PictureDaoImpl">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>

	<bean id="AttachmentDao" class="rax.dao.ibatis.AttachmentDaoImpl">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>

	<bean id="ArticleContentDao"
		class="rax.dao.ibatis.ArticleContentDaoImpl">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>

	<bean id="ArticleDao" class="rax.dao.ibatis.ArticleDaoImpl">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>

	<bean id="ArticleCategoryDao"
		class="rax.dao.ibatis.ArticleCategoryDaoImpl">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
</beans>