<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
		  "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>

	<bean id="FaqAction" class="rax.action.FaqAction" scope="prototype">
		<property name="faqService" ref="FaqService" />
	</bean>
	
	<bean id="FaqListAction" class="rax.action.FaqListAction" scope="prototype">
		<property name="faqService" ref="FaqService" />
	</bean>

	<bean id="ListLinkAction" class="rax.action.ListLinkAction" scope="prototype">
		<property name="linkService" ref="LinkService" />
		<property name="linkCategoryService" ref="LinkCategoryService" />
	</bean>

</beans>