<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
		  "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>

	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
	</bean>

	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="org.postgresql.Driver" />
		<property name="url" value="jdbc:postgresql://localhost/test" />
		<property name="username" value="test" />
		<property name="password" value="test" />
	</bean>

	<bean id="sqlMapClient"
		class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
		<property name="configLocation"
			value="classpath:sqlMapConfig.xml" />
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="FaqDaoTest" class="test.dao.FaqDaoTest">
		<property name="dao" ref="FaqDao" />
	</bean>
	<bean id="LinkDaoTest" class="test.dao.LinkDaoTest">
		<property name="dao" ref="LinkDao" />
	</bean>
	<bean id="LinkCategoryDaoTest"
		class="test.dao.LinkCategoryDaoTest">
		<property name="dao" ref="LinkCategoryDao" />
	</bean>
	<bean id="PictureDaoTest" class="test.dao.PictureDaoTest">
		<property name="dao" ref="PictureDao" />
	</bean>
	<bean id="AttachmentDaoTest" class="test.dao.AttachmentDaoTest">
		<property name="dao" ref="AttachmentDao" />
	</bean>
	<bean id="ArticleContentDaoTest"
		class="test.dao.ArticleContentDaoTest">
		<property name="dao" ref="ArticleContentDao" />
	</bean>
	<bean id="ArticleDaoTest" class="test.dao.ArticleDaoTest">
		<property name="dao" ref="ArticleDao" />
	</bean>
	<bean id="ArticleCategoryDaoTest"
		class="test.dao.ArticleCategoryDaoTest">
		<property name="dao" ref="ArticleCategoryDao" />
	</bean>
</beans>