<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
"http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<bean id="FaqAction" class="rax.action.FaqAction">
		<property name="faqService" ref="FaqService" />
	</bean>
	
	<bean id="FaqListAction" class="rax.action.FaqListAction">
		<property name="faqService" ref="FaqService" />
	</bean>

	<bean id="ListLinkAction" class="rax.action.ListLinkAction">
		<property name="linkService" ref="LinkService" />
		<property name="linkCategoryService" ref="LinkCategoryService" />
	</bean>

</beans>