<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
		  "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>

	<!--
		All bean must be prototype, or it will have "status" 
		scope="prototype"
	-->

	<bean id="WareAction" class="erp.action.WareAction"
		scope="prototype">
		<property name="wareService" ref="WareService" />
	</bean>
	<bean id="WareFindAction" class="erp.action.WareFindAction"
		scope="prototype">
		<property name="wareService" ref="WareService" />
	</bean>
	<bean id="SellAction" class="erp.action.SellAction"
		scope="prototype">
		<property name="sellService" ref="SellService" />
		<property name="sellItemService" ref="SellItemService" />
		<property name="wareService" ref="WareService" />
		<property name="expressService" ref="ExpressService" />
	</bean>
	<bean id="SellItemAction" class="erp.action.SellItemAction"
		scope="prototype">
		<property name="sellService" ref="SellService" />
		<property name="sellItemService" ref="SellItemService" />
	</bean>
	<bean id="SellImportAction" class="erp.action.SellImportAction"
		scope="prototype">
		<property name="sellService" ref="SellService" />
		<property name="expressService" ref="ExpressService" />
	</bean>
	<bean id="InvoiceAction" class="erp.action.InvoiceAction"
		scope="prototype">
		<property name="sellService" ref="SellService" />
		<property name="sellItemService" ref="SellItemService" />
		<property name="wareService" ref="WareService" />
	</bean>
	<bean id="ExpressAction" class="erp.action.ExpressAction"
		scope="prototype">
		<property name="sellService" ref="SellService" />
		<property name="expressService" ref="ExpressService" />
	</bean>
	
	<bean id="OrderAction" class="erp.action.OrderAction"
		scope="prototype">
		<property name="orderService" ref="OrderService" />
		<property name="orderItemService" ref="OrderItemService" />
		<property name="wareService" ref="WareService" />
	</bean>
	<bean id="OrderItemAction" class="erp.action.OrderItemAction"
		scope="prototype">
		<property name="orderService" ref="OrderService" />
		<property name="orderItemService" ref="OrderItemService" />
	</bean>
</beans>