<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
		  "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>

	<!--
		All bean must be prototype, or it will have "status" scope="prototype"
	-->

	<bean id="IndexAction" class="erp.action.IndexAction" scope="prototype">
		<property name="wareService" ref="WareService" />
	</bean>
	<bean id="WareAction" class="erp.action.WareAction" scope="prototype">
		<property name="wareService" ref="WareService" />
		<property name="wareCategoryService" ref="WareCategoryService" />
		<property name="vendorService" ref="VendorService" />
		<property name="orderService" ref="OrderService" />
		<property name="orderItemService" ref="OrderItemService" />
		<property name="keywordService" ref="KeywordService" />
		<property name="pager" ref="Pager" />
	</bean>
	<bean id="WareCategoryAction" class="erp.action.WareCategoryAction"
		scope="prototype">
		<property name="wareCategoryService" ref="WareCategoryService" />
		<property name="wareService" ref="WareService" />
	</bean>
	<bean id="SellAction" class="erp.action.SellAction" scope="prototype">
		<property name="sellService" ref="SellService" />
		<property name="sellItemService" ref="SellItemService" />
		<property name="wareService" ref="WareService" />
		<property name="expressService" ref="ExpressService" />
		<property name="utilService" ref="UtilService" />
		<property name="pager" ref="Pager" />
	</bean>
	<bean id="SellItemAction" class="erp.action.SellItemAction" scope="prototype">
		<property name="wareService" ref="WareService" />
		<property name="sellService" ref="SellService" />
		<property name="sellItemService" ref="SellItemService" />
	</bean>
	<bean id="SellImportAction" class="erp.action.SellImportAction"
		scope="prototype">
		<property name="sellService" ref="SellService" />
		<property name="expressService" ref="ExpressService" />
	</bean>
	<bean id="InvoiceAction" class="erp.action.InvoiceAction" scope="prototype">
		<property name="sellService" ref="SellService" />
		<property name="sellItemService" ref="SellItemService" />
		<property name="wareService" ref="WareService" />
	</bean>
	<bean id="ExpressAction" class="erp.action.ExpressAction" scope="prototype">
		<property name="sellService" ref="SellService" />
		<property name="expressService" ref="ExpressService" />
		<property name="utilService" ref="UtilService" />
	</bean>

	<bean id="OrderAction" class="erp.action.OrderAction" scope="prototype">
		<property name="orderService" ref="OrderService" />
		<property name="orderItemService" ref="OrderItemService" />
		<property name="vendorService" ref="VendorService" />
		<property name="wareService" ref="WareService" />
		<property name="pager" ref="Pager" />
	</bean>
	<bean id="OrderItemAction" class="erp.action.OrderItemAction"
		scope="prototype">
		<property name="orderService" ref="OrderService" />
		<property name="orderItemService" ref="OrderItemService" />
		<property name="wareService" ref="WareService" />
	</bean>
	<bean id="StatAction" class="erp.action.StatAction" scope="prototype">
		<property name="statService" ref="StatService" />
		<property name="expressService" ref="ExpressService" />
	</bean>

	<bean id="KeywordAction" class="erp.action.KeywordAction" scope="prototype">
		<property name="keywordService" ref="KeywordService" />
	</bean>

	<bean id="SellItemImportAction" class="erp.action.SellItemImportAction"
		scope="prototype">
		<property name="sellService" ref="SellService" />
		<property name="sellItemService" ref="SellItemService" />
		<property name="wareService" ref="WareService" />
	</bean>

	<bean id="VendorAction" class="erp.action.VendorAction" scope="prototype">
		<property name="vendorService" ref="VendorService" />
		<property name="wareService" ref="WareService" />
		<property name="utilService" ref="UtilService" />
	</bean>
	
	<bean id="TradeImportAction" class="erp.action.TradeImportAction" scope="prototype">
		<property name="taobao" ref="taobaoSource" />
		<property name="expressService" ref="ExpressService" />
		<property name="sellService" ref="SellService" />
		<property name="sellItemService" ref="SellItemService" />
		<property name="wareService" ref="WareService" />
	</bean>

</beans>
