<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
		  "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>
	<bean id="ExpressDao" class="erp.dao.ibatis.ExpressDaoImpl">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>

	<bean id="OrderDao" class="erp.dao.ibatis.OrderDaoImpl">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>

	<bean id="OrderItemDao" class="erp.dao.ibatis.OrderItemDaoImpl">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>

	<bean id="SellDao" class="erp.dao.ibatis.SellDaoImpl">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>

	<bean id="SellItemDao" class="erp.dao.ibatis.SellItemDaoImpl">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>

	<bean id="WareDao" class="erp.dao.ibatis.WareDaoImpl">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>

	<bean id="WareCategoryDao" class="erp.dao.ibatis.WareCategoryDaoImpl">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>

	<bean id="StatDao" class="erp.dao.ibatis.StatDaoImpl">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>

	<bean id="KeywordDao" class="erp.dao.ibatis.KeywordDaoImpl">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>

	<bean id="UtilDao" class="erp.dao.ibatis.UtilDaoImpl">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>

	<bean id="VendorDao" class="erp.dao.ibatis.VendorDaoImpl">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>

</beans>