<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
		  "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>

	<bean id="OrderService" class="erp.service.OrderService">
		<property name="orderDao" ref="OrderDao" />
	</bean>
	<bean id="OrderItemService" class="erp.service.OrderItemService">
		<property name="orderItemDao" ref="OrderItemDao" />
	</bean>

	<bean id="SellService" class="erp.service.SellService">
		<property name="sellDao" ref="SellDao" />
	</bean>
	<bean id="SellItemService" class="erp.service.SellItemService">
		<property name="sellItemDao" ref="SellItemDao" />
		<property name="wareDao" ref="WareDao" />
	</bean>

	<bean id="WareCategoryService" class="erp.service.WareCategoryService">
		<property name="wareCategoryDao" ref="WareCategoryDao" />
		<property name="wareDao" ref="WareDao" />
	</bean>

	<bean id="WareService" class="erp.service.WareService">
		<property name="wareDao" ref="WareDao" />
	</bean>

	<bean id="StatService" class="erp.service.StatService">
		<property name="statDao" ref="StatDao" />
	</bean>

	<bean id="ExpressService" class="erp.service.ExpressService">
		<property name="expressDao" ref="ExpressDao" />
	</bean>

	<bean id="KeywordService" class="erp.service.KeywordService">
		<property name="keywordDao" ref="KeywordDao" />
		<property name="utilDao" ref="UtilDao" />
	</bean>

	<bean id="UtilService" class="erp.service.UtilService">
		<property name="utilDao" ref="UtilDao" />
	</bean>

	<bean id="VendorService" class="erp.service.VendorService">
		<property name="vendorDao" ref="VendorDao" />
	</bean>
</beans>