<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

	<appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{yyyy-MM-dd HH:mm:ss} %p [%t] %m - %l%n" /><!-- 设置输出文件项目和格式 -->
		</layout>
	</appender>

	<appender name="FILE"
		class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="D:/rax.log.txt" />
		<param name="Append" value="true" />
		<param name="MaxFileSize" value="1048576" />
		<!-- 设置文件大小 -->
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{yyyy-MM-dd HH:mm:ss} %p [%t] %m%n" />
		</layout>
	</appender>

	<root><!-- 设置接收所有输出的通道 -->
		<priority value="ERROR" />
		<!-- 与前面的通道id相对应 -/-> 
	<appender-ref ref="STDOUT" />
			<!-/- -->
		<appender-ref ref="FILE" /><!-- 与前面的通道id相对应 -->
	</root>

</log4j:configuration>